*,
*::before,
*::after {
    box-sizing: border-box;
}

header>nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
}

#content {
    display: flex;
    justify-content: center;
}

img {
    height: 300px;
    margin: 20px 0;
}
